# Python Practice Problems

1. Write a Python Program to accept the details of a student like name, roll number 
and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: 
Name: Anisha
Roll No: 21
Mark: 78

In [1]:
name=input('Enter the name: ')
roll_no=int(input('Enter the roll number: '))
mark=int(input('Enter the mark: '))
print('-------------------------------------')
print('Name :',name)
print('Roll_no :',roll_no)
print('Mark :',mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
-------------------------------------
Name : Anisha
Roll_no : 21
Mark : 78

2. Write a Python program to convert temperatures to and from Celsius 
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f= 
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41 
Sample output: Temperature in Celsius =5

In [2]:
f=int(input('Temperature in Fahrenheit: '))
c=((f-32)/9)*5
print('Temperature in Celsius= ',c)

Temperature in Fahrenheit: 41
Temperature in Celsius=  5.0

3. 1. Write a Python program to accept two numbers from the user and display
its product.

In [3]:
x,y=[int(x) for x in input('Enter two numbers x,y : ').split()]
print('x*y = ',x*y)

Enter two numbers x,y : 5 4
x*y =  20

4. Write a Python program to accept a string “Learn Python by Developing a
Website” and display the string like “Learn**Python** by Developing a
**Website**

In [4]:
string=input('enter the input string')
string=string[0:5] +'**'+string[6:12]+'**'+string[13:28]+'**'+string[29:36]+'**'
string

enter the input stringLearn python by Developing a website

'Learn**python**by Developing a**website**'

5. Write a Python program to accept the radius of a circle and display its area

In [5]:
#circle

import math

r=int(input('enter the radius of circle'))
area=math.pi*r**2
print('area =',round(area,2))

enter the radius of circle4
area = 50.27

6. Python program to insert a number to any position in a list (Get the number to 
be inserted and position from the user

In [6]:
list=[1,2,4,5,6,7,8,9]
n=int(input('enter the number to be inserted: '))
list.insert(2,n)
list

enter the number to be inserted: 3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

7. Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}

In [11]:
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
sample_dict['location']=sample_dict['city']
del sample_dict['city']
sample_dict

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

8. Write a Python program to change Brad’s salary to 8500 in the following 
dictionary.
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}
}

In [12]:
sample_dict = { 'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500} }
sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'John', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

9. Write a program to copy elements 43 and 54 from the following tuple into a 
new tuple. Given:
tuple1 = (10, 20, 43, 54, 56, 68)

In [13]:
tuple1 = (10, 20, 43, 54, 56, 68)
tuple2=tuple1[2:4]
tuple2

(43, 54)

10. Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50,83,567,50,81

In [14]:
tuple1 = (50, 10, 60, 70, 50,83,567,50,81)
tuple1.count(50)

3