In [ ]:
#print squares of number from 1 to 10

In [2]:
for n in range(1,11):
    print(n**2,end=' ')

1 4 9 16 25 36 49 64 81 100

In [3]:
#print numbers divisible by 3 from 1 to 51
for i in range(1,52):
    if i%3==0:
        print(i,end=' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51

In [10]:
#take limit from user and find sum and average
limit=int(input('enter the number of limit'))
s=0
for i in range (1,limit+1):
    s=s+i
print('sum= ',s)
print('average= ',s/limit)

enter the number of limit4
sum=  10
average=  2.5

In [11]:
#count the number divisible by 7 from 1 to 999
c=0
for i in range(1,1000):
    if i%7==0:
        c=c+1
print(c)

142

In [18]:
#take the no of elements from user and also get the elements of int list
#print the list
l=[]
n=int(input('no of elements'))
for i in range(1,n+1):
    x=int(input('Enter the element of the list'))
    l.append(x)
print(l)

no of elements5
Enter the element of the list34567
Enter the element of the list6
Enter the element of the list7
Enter the element of the list8
Enter the element of the list9
[34567, 6, 7, 8, 9]

In [25]:
l=[]
n=int(input('no of elements'))
s=0
for i in range(1,n+1):
    x=int(input('Enter the element of the list'))
    l.append(x)
for j in l:
    s=s+j
        
print(l)
print('sum= ',s)
print('avg= ',s/n)

no of elements4
Enter the element of the list1
Enter the element of the list2
Enter the element of the list3
Enter the element of the list4
[1, 2, 3, 4]
sum=  10
avg=  2.5

In [27]:
#sum of first 3
sum1,count1=0,0
l2= list(map(int, input("Enter multiple values: ").split(",")))
for i in l2 :
    l1.append(i)
    if count1<3:
        sum1+=i
        count1+=1

print(l1)
print("Sum of first 3:",sum1)

Enter multiple values: 2,3,4,5
[4, 2, 3, 4, 5]
Sum of first 3: 9

# while loop

In [29]:
i=0
while i<10:
    print(i)
    i+=3

0
3
6
9

In [32]:
#sum of first 5 int using while loop
i=0
s=0
while i<6:
    s=s+i
    i=i+1
print(s)

15

In [34]:
#Basic interactive code
print('Welcome to ICTAK')
while True:
    x=input('Enter Quit to stop ')
    x=x.lower()
    if x=='quit':
        print('See you later')
        break
    y=x.split()
    if len(y)==0:
        print('please give a valid input')
    elif 'morning' in y:
        print('good morning')
    elif 'course' in y:
        print('please visit www.ictak.org for more details')
    elif 'python' in y:
        print('yes we have python course,please visit www,ictak.org')
    else:
        print('please use another option')

Welcome to ICTAK
Enter Quit to stop morning
good morning
Enter Quit to stop quit
See you later

In [39]:
#getting a number from user and whether prime or nit
n=int(input('enter the number'))
if n>1:
    for i in range(2,n):
        if n%i==0:
            print('not prime')
            break
    else:
        print('prime')
else:
    print('neither prime nor composit')

enter the number1
neither prime nor composit

In [40]:
n=int(input("Enter a number"))
flag=1
if n==2:
    print("prime")
elif n==1:
    print("neither")
    
elif n>1:
    for k in range(2,int(n**(1/2)+1)):
        if n%k!=0:
            flag=1
            continue
        else:
            flag=0
            break
    print("prime") if flag==1 else print("not prime")

Enter a number6
not prime

In [ ]:
#multiplication table of 5

In [42]:
for i in range(1,11):
    print('5 X',i,'=',i*5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [43]:
for i in range(1,11):
    print('Multiplication table of ',i)
    for j in range(1,11):
        print(i,'X',j,'=',i*j)

Multiplication table of  1
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
Multiplication table of  2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
Multiplication table of  3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
Multiplication table of  4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
Multiplication table of  5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
Multiplication table of  6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
Multiplication table of  7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
Multiplication table of  8
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
Multiplication table of  9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
Multiplication table of  10
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100